@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-darker: 0 0% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --warning: 45 93% 47%;
    --warning-foreground: 45 93% 10%;
  }

  .dark {
    --background: 222.2 24% 15%;
    --background-darker: 222.2 24% 12%;
    --foreground: 210 40% 98%;
    --card: 222.2 24% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 24% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 22%;
    --muted-foreground: 215 20.2% 75%;
    --accent: 217.2 32.6% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 22%;
    --input: 217.2 32.6% 22%;
    --ring: 224.3 76.3% 48%;
    --warning: 45 93% 47%;
    --warning-foreground: 45 93% 90%;
  }
}

@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    /* main */
    .main-container {
        @apply flex min-h-screen flex-1 flex-col items-center px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
    }

    /* Head Text */
    .head-text {
        @apply text-heading2-bold text-foreground;
    }

    /* Activity */
    .activity-card {
        @apply flex items-center gap-2 rounded-md bg-card px-7 py-4;
    }

    /* No Result */
    .no-result {
        @apply text-center !text-base-regular text-muted-foreground;
    }

    /* Community Card */
    .community-card {
        @apply w-full rounded-lg bg-card px-4 py-5 sm:w-96;
    }

    .community-card_btn {
        @apply rounded-lg bg-primary px-5 py-1.5 text-small-regular !text-primary-foreground !important;
    }

    /* thread card  */
    .thread-card_bar {
        @apply relative mt-2 w-0.5 grow rounded-full bg-border;
    }

    /* User card */
    .user-card {
        @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-card max-xs:p-4 xs:flex-row xs:items-center;
    }

    .user-card_avatar {
        @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
    }

    .user-card_btn {
        @apply h-auto min-w-[74px] rounded-lg bg-primary text-[12px] text-primary-foreground !important;
    }

    .searchbar {
        @apply flex gap-1 rounded-lg bg-muted px-4 py-2;
    }

    .searchbar_input {
        @apply border-none bg-transparent text-base-regular text-foreground outline-none !important;
    }

    .topbar {
        @apply fixed top-0 z-30 flex w-full items-center justify-between px-10 py-5 bg-background shadow-sm;
    }

    .bottombar {
        @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-background/80 p-4 backdrop-blur-lg xs:px-7 md:hidden;
    }

    .bottombar_container {
        @apply flex items-center justify-between gap-3 xs:gap-5;
    }

    .bottombar_link {
        @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
    }

    .leftsidebar {
        @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto pb-5 pt-28 max-md:hidden;
    }

    .leftsidebar_link {
        @apply relative flex justify-start gap-4 rounded-lg p-4 font-medium;
    }

    .pagination {
        @apply mt-10 flex w-full items-center justify-center gap-5;
    }

    .rightsidebar {
        @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto pl-4 pb-6 pt-28 max-xl:hidden;
    }
}

@layer utilities {
    .css-invert {
        @apply invert-[50%] brightness-200;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-muted;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-muted-foreground/50;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-muted-foreground;
    }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
    @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger .cl-organizationPreview .cl-organizationPreviewTextContainer {
    @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
    @apply flex min-h-[50px] flex-1 items-center gap-3 bg-muted text-muted-foreground data-[state=active]:bg-background data-[state=active]:text-foreground !important;
}

.no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-muted !important;
}

.account-form_image-input {
    @apply cursor-pointer border-none bg-transparent outline-none file:text-primary !important;
}

.account-form_input {
    @apply border border-input bg-transparent text-foreground !important;
}

/* Comment Form */
.comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-border py-5 max-xs:flex-col !important;
}

.comment-form_btn {
    @apply rounded-3xl bg-primary px-8 py-2 !text-small-regular text-primary-foreground max-xs:w-full !important;
}

/* scrollBar */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}